</div></center>
        </article>
     </section>
     <footer class="footer">
         <div>
             <span class="footTxt"><br><img src="components/favicon.ico" style="width:32px;height:32px;"><br>PWPost!</span><br><span class="footTxtsign">
             Sin derechos reservados, es tan solo un proyecto de asignatura<br>
             No ande de exigente<br>
             Final - TS5C4 - Programación Web<br>
             Tecnología en Desarrollo de Software<br>
             Universidad Tecnológica de Pereira<br>
             2021-1<br>
             Daniel Alarcón</span>
         </div>
         
     </footer>
 </body>
 </html>